@font-face {
    font-family: 'SSV';
    src: url('../fonts/mrfsa_ssv-webfont.eot');
    src: url('../fonts/mrfsa_ssv-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mrfsa_ssv-webfont.woff2') format('woff2'),
         url('../fonts/mrfsa_ssv-webfont.woff') format('woff'),
         url('../fonts/mrfsa_ssv-webfont.ttf') format('truetype'),
         url('../fonts/mrfsa_ssv-webfont.svg#mrfsa_ssvmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	/*background-image:url('../images/halftone.png');*/
	background-image:url('../images/concrete_seamless.png');
	padding:150px 0 0 0;
	font-family: Arial,
	
}

h1 {
	font-family: 'SSV';
	font-size:60px;
	text-align:center;
}

a.logo {
	display:block;
	top:0px;
	color:transparent;
	font-size:0;
	position:fixed;
}

a#ss-cornerlogo {
	height:271px;
	width:414px;
	background-image:url('../images/SSV-cornerlogo.png');
	left:0px;
}

a#mrfsa-cornerlogo {
	height:118px;
	width:143px;
	background-image:url('../images/MRFSA-cornerlogo.png');
	right:0px;
}

div.biglinks {
	margin:0;
}

div.biglinks a {
	display:block;
	font-family: 'SSV';
	font-size:60px;
	text-align:center;
	text-decoration:none;
	padding:15px 10px 0 10px;
}

div.biglinks a:nth-child(1):link, div.biglinks a:nth-child(1):visited
{
	color:#6D3D96;
}

div.biglinks a:nth-child(2):link, div.biglinks a:nth-child(2):visited
{
	color:#C11E54;
}

div.biglinks a:nth-child(3):link, div.biglinks a:nth-child(3):visited
{
	color:#D25727;
}

div.biglinks a:nth-child(4):link, div.biglinks a:nth-child(4):visited
{
	color:#8EB73E;
}

div.biglinks a:nth-child(5):link, div.biglinks a:nth-child(5):visited
{
	color:#0B99D6;
}

div.biglinks a:nth-child(1):hover, div.biglinks a:nth-child(1):active
{
	background-color:#6D3D96;
}

div.biglinks a:nth-child(2):hover, div.biglinks a:nth-child(2):active
{
	background-color:#C11E54;
}

div.biglinks a:nth-child(3):hover, div.biglinks a:nth-child(3):active
{
	background-color:#D25727;
}

div.biglinks a:nth-child(4):hover, div.biglinks a:nth-child(4):active
{
	background-color:#8EB73E;
}

div.biglinks a:nth-child(5):hover, div.biglinks a:nth-child(5):active
{
	background-color:#0B99D6;
}

div.biglinks a:hover, div.biglinks a:active
{
	color:#fff !important;
}